:root{
    --yellow-color: #ffb703;
}

.formContainer{
    background-size: cover;
    background-position: center; 
    height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: center;

    .formWrapper{
        background-color: white;
        box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
        backdrop-filter: blur(10px); 
        padding: 20px 60px;
        display: flex;
        height: 100vh;
        width: 20vw;
        flex-direction: column;
        gap: 10px;
        align-items: center;
        justify-content: center;

        .logo{
            color: #135a76;
            font-weight: bold;
            font-size: 36px;
            font-family: "Quicksand", sans-serif;
        }

        .title{
            color: #135a76;
            font-size: 12px;
            font-family: "Quicksand", sans-serif;
        }
        form{
            display: flex;
            flex-direction: column;
            gap: 25px;  

            input{
                padding: 15px;
                border: none;
                width: 250px;
                border-bottom: 1px solid #87ceeb;
                font-family: "Quicksand", sans-serif;
                outline: none;
                color: #135a76;

                &::placeholder{
                color: rgb(175, 175, 175);
                }

                &:hover{
                    cursor: pointer;
                }
            }

            button{
                background-color: #87ceeb;
                color: white;
                padding: 10px;
                font-weight: bold;
                font-family: "Quicksand", sans-serif;
                border: none;
                border-radius: 10px;
                cursor: pointer;
            }

            button:hover{
                background-color: #4f96b2;
                transition: 1s;
            }
            label{
                display: flex; 
                align-items: center;
                gap: 10px; 
                cursor: pointer;
                color:  #87ceeb;
                font-size: 12px;
                font-family: "Quicksand", sans-serif;

                img{
                    width: 32px;
                    border-radius: 7px;
                }
            }
        }
        p{
            font-family: "Quicksand", sans-serif;
            color: #135a76;
            font-size: 12px;
            margin-top: 10px;
        }
    }
}

.container {
    font-family: "Quicksand", sans-serif;
    display: flex;
    flex-direction: column;
    overflow: hidden;
    height: 100vh;

    .header {
        font-size: 24px;
        font-weight: bold;
        color: #135a76;
        display: flex;
        min-height: 60px;
        align-items: center;
        justify-content: space-between;
        padding-left: 30px;
        padding-right: 30px;
        background-color: white;
        box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
        backdrop-filter: blur(5px);

        .buttons{
            display: flex;
            gap: 20px;
            align-items: center;

            &:hover{
                cursor: pointer;
            }
        }  
    }

    .menu-container {
        display: flex;
        overflow-y: auto;

        .itemsMenu {
            display: flex;
            flex-direction: column;
            flex: 0 0 100px;   
            background-color: #166484;
            align-items: center;
            box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
            backdrop-filter: blur(5px);
            min-height: calc(100vh - 60px);
            width: 6vw;

            .tab{
                padding-top: 10px;
                padding-bottom: 10px;
                display: flex;
                flex-direction: column;
                align-items: center;
                justify-content: center;
                width: inherit;
                height: 60px;
                color: #DEDEDE;
        
                &:hover{
                    color: white;
                    background-color: #186f92;
                    cursor: pointer;
                }
            }

            .selectedtab{
                padding-top: 10px;
                padding-bottom: 10px;
                display: flex;
                flex-direction: column;
                align-items: center;
                justify-content: center;
                width: inherit;
                height: 60px;
                color: var(--yellow-color);
        
                &:hover{
                    color: white;
                    background-color: #186f92;
                    cursor: pointer;
                }
            }
        }

        .menu {
            overflow-y: auto;
            padding-top: 20px;
        }   
    }
}

.errors{
    display: flex;
    flex-direction: column;
    padding-left: 10%;
    padding-right: 10%;
    font-family: "Quicksand", sans-serif;
    color: red;
    font-size: 14px;
    margin-top: 5px;

    div{
        font-family: "Quicksand", sans-serif;
        color: red;
        font-size: 14px;
        margin-top: 5px;
    }
}

.page-header
{
    color: gray;
    font-size: 24px;
    border-bottom: 1px solid lightgray;
    width: calc(100vw - 160px);
    animation: fadeIn 0.7s forwards;
    margin-left: 20px;
    margin-right: 20px;
}

.input-field
{
    outline: none;
    border: 1px solid lightgray;
    border-radius: 5px;
    height: 3.5vh;
    width: 18vw;
    font-size: 16px;
    font-family: "Quicksand", sans-serif;
    padding-top: 7px;
    padding-bottom: 7px;
    padding-left: 10px;
    transition: 0.6s;

    &:hover
    {
        border-color: var(--yellow-color);
        cursor: pointer;
        animation: bounce 0.6s;
    }

}

.small-input-field{
    outline: none;
    border: 1px solid lightgray;
    border-radius: 5px;
    height: 3.5vh;
    width: 8vw;
    font-size: 16px;
    font-family: "Quicksand", sans-serif;
    padding-top: 7px;
    padding-bottom: 7px;
    padding-left: 10px;
    transition: 0.6s;

    &:hover
    {
        border-color: var(--yellow-color);
        cursor: pointer;
        animation: bounce 0.6s;
    }
}

@keyframes bounce {
    0%, 20%, 50%, 80%, 100% {
      transform: scale(1);
    }
    40% {
      transform: scale(1.02);
    }
    60% {
      transform: scale(1.01);
    }
  }

.above-input-field
{
    margin-bottom: 2px;
    font-size: 14px;
    color: var(--yellow-color);
    padding-left: 5px;
}

.awb-container
{
    margin-top: 50px;

    .person-container
    {
        box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
        backdrop-filter: blur(5px);
        border-radius: 5px;

        .heading
        {
            color:#186f92;
            margin-left: 30px;
            margin-right: 30px;
            margin-bottom: 10px;
            font-family: "Quicksand", sans-serif;
            font-size: 20px;
            font-weight: bold;
            border-bottom: 1px solid lightgray;
        }

        .header-div
        {
            border-radius: 5px 5px 0px 0px;
            padding: 10px;
            background-color:#74788d;
            color: white;
            font-weight: bold;
            margin-bottom: 20px;
            text-align: center;
        }

        .details-div
        {
            display: flex;
            flex-wrap: wrap;
            justify-content: space-between;
            padding-left: 30px;
            padding-right: 30px;
            padding-bottom: 30px;
            margin-bottom: 30px;
        }
    }
}

.switch {
    position: relative;
    display: inline-block;
    width: 60px;
    height: 28px;
  }
  
  .switch input { 
    opacity: 0;
    width: 0;
    height: 0;
  }
  
  .slider {
    position: absolute;
    cursor: pointer;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: #ccc;
    transition: .2s;
    border-radius: 34px;
  }
  
  .slider:before {
    position: absolute;
    content: "";
    height: 20px;
    width: 20px;
    left: 4px;
    bottom: 4px;
    background-color: white;
    transition: .2s;
    border-radius: 50%;
  }
  
  input:checked + .slider {
    background-color: var(--yellow-color);
  }
  
  input:focus + .slider {
    box-shadow: 0 0 1px var(--yellow-color);
  }
  
  input:checked + .slider:before {
    transform: translateX(32px);
  }
  
  .slider.round {
    border-radius: 34px;
  }
  
  .slider.round:before {
    border-radius: 50%;
  }

.sender-and-recipient-section
{
    display: flex;
    padding-left: 20px;
    padding-right: 20px;
    gap: 30px;
}

.checkboxes{
    display: flex;
    margin-left: 30px;
    margin-top: 40px;
    margin-bottom: 40px;
    gap: 100px;
}
.checkbox-container{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 20px;
    font-size: 18px;
    color: gray;
    
    .inline{
        display: inline-flex;
        justify-content: center;
        align-items: center;
    }

    &:hover{
        cursor: pointer;
    }
}

.info{

    &:hover{
        &::after {
            content: attr(value);
            position: absolute;
            background-color: rgba(0, 0, 0, 0.8);
            color: white;
            padding: 5px;
            border-radius: 5px;
            font-size: 12px;
            display: block;
            margin-top: 10px;
        }
    }
}

.dropdown-button {
    height: 5.5vh;
    width: 18.8vw;
    background-color: white;
    color: grey;
    border: 1px solid lightgray;
    border-radius: 5px;
    font-size: 16px;
    transition: 0.6s;
    font: inherit;
    cursor: pointer;

    &:hover
    {
        border-color: var(--yellow-color);
        cursor: pointer;
    }
}
  
.dropdown-text {
    margin-left: 5px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
  
.dropdown-menu {
    position: absolute;
    list-style-type: none;
    margin: 5px 0;
    padding: 0;
    border: 1px solid lightgray;
    border-radius: 5px;
    width: 18.8vw;
    max-height: 130px;
    overflow-y: auto;
    background-color: #fff;
}
  
.dropdown-menu > li {
    padding-left: 5px;
    padding-top: 3px;
    padding-bottom: 3px;
    margin: 0;
    background-color: #fff;
}
  
.dropdown-menu > li:hover {
    background-color: #f6f2f2;
}
  
.dropdown-menu > li > button {
    width: 100%;
    height: 100%;
    text-align: left;
    background: none;
    border: none;
    padding: 5px;
    font: inherit;
    cursor: pointer;
    color: grey;
}

.skeleton-options-container
{
    display: flex;
    gap: 3vw;
    margin-left: 30px;
    margin-right: 30px;
}

.options-container
{
    display: flex;
    gap: 3vw;
}

.option-container
{
    display: flex;
    border: 2px solid #135a76;
    border-radius: 5px;
    padding: 10px;
    max-width: 20vw;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
    backdrop-filter: blur(5px);

    .name{
        color: #135a76;
        font-weight: bold;
    }

    .description{
        overflow-wrap: break-word;
    }
}

.warning-banner{
    
    display: flex;
    align-items: center;
    gap: 1vw;
    background-color: #fff5db;
    margin-left: 30px;
    margin-right: 30px;
    padding: 20px;
    border: 1px solid #ffb703;
    border-radius: 5px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.15);
    backdrop-filter: blur(5px);
    opacity: 0;
    animation: fadeIn 0.7s forwards;
}

@keyframes fadeIn {
    from {
        opacity: 0; 
    }
    to {
        opacity: 1; 
    }
}

.link{
    color: var(--yellow-color);
    text-decoration: none;
}

.skeleton{
    opacity: 70%;
    animation: skeleton-loading 1s linear infinite alternate;
    width: 24vw;
    height: 3.5vw;
}

.expedition-content{
    display: flex;
    padding-left: 30px;
    padding-right: 30px;
    padding-bottom:10px;
    gap: 30px;
    align-items: center;
    justify-content: center;

    .title{
        font-size: 14px;
        margin-bottom: 5px;
        margin-left: 5px;
        color: var(--yellow-color)
    }

    .quantity-field{
        display: flex;

        .buttons-container{
            display: flex;
            flex-direction: column;
            gap: 0px;

            button{
                display: flex;
                height: 22px;
                width: 40px;
                background-color: #135a76;
                color: white;
                border: none;
                align-items: center;
                justify-content: center;
                transition: 0.3s;

                &:hover{
                    color: var(--yellow-color);
                    cursor: pointer;
                }

                &:active{
                    background-color:#186f92;
                }
            }
        }

        .box{
            display: flex;
            align-items: center;
            height: 42.5px;
            width: 75px;
            outline: none;
            border: 1px solid lightgray;
            border-top-left-radius: 5px;
            border-bottom-left-radius: 5px;
            font-size: 18px;
            font-family: "Quicksand", sans-serif;
            padding-left: 10px;
        }
    }

    .dimension-input{
        display: flex;
        align-items: center;
        height: 42px;
        width: 115px;
        outline: none;
        border: 1px solid lightgray;
        border-radius: 5px;
        font-size: 18px;
        font-family: "Quicksand", sans-serif;
        padding-left: 10px;
        transition: 0.6s;

        &:hover{
            border-color: #135a76;
            cursor: pointer;
        }
    }
}

@keyframes skeleton-loading {
    0%{
        background-color: hsl(200, 20%, 70%);
    }
    100%{
        background-color: hsl(200, 20%, 95%);
    }
}

.footer{
    display: flex;
    align-items: center;
    background-color: white;
    width: calc(100vw - 6vw - 60px);
    height: 12vh;
    padding-left: 30px;
    padding-right: 30px;
    position: fixed;
    bottom: 0;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    backdrop-filter: blur(5px);
    justify-content: flex-end;
    gap: 30px;

    .full-button{
        width: 8vw;
        height: 6vh;
        color: white;
        background-color: var(--yellow-color);
        border: none;
        border-radius: 5px;
        font-family: "Quicksand", sans-serif;
        font-size: 16px;
        transition: 0.3s;

        &:hover{
            cursor: pointer;
            background-color: #e9a600;
        }

        &:active{
            transition: 0s;
            background-color: #d09400;
        }
    }

    .outline-button{
        width: 8vw;
        height: 6vh;
        color: var(--yellow-color);
        border: 1px solid var(--yellow-color);
        background-color: white;
        border-radius: 5px;
        font-family: "Quicksand", sans-serif;
        font-size: 16px;
        transition: 0.3s;

        &:hover{
            background-color: #FAF9F6;
            cursor: pointer;
        }

        &:active{
            transition: 0s;
            background-color: #F9F6EE;
        }
    }
}

.custom-input {
    position: relative;
    display: inline-block;
    align-items: center;
    height: 44px;
    width: 115px;
    outline: none;
    border: 1px solid lightgray;
    border-radius: 5px;
    font-size: 18px;
    font-family: "Quicksand", sans-serif;
    padding-left: 10px;
    transition: 0.6s;

    &:hover {
        border-color: #135a76;
        cursor: pointer;
    }

    input {
        margin-top: 6px;
        width: 70px;
        height: 30px;
        font-family: "Quicksand", sans-serif;
        padding: 0;
        border: none;
        outline: none;
        font-size: 16px;

        &:hover{
            cursor: pointer;
        }
    }

    .suffix {

        position: absolute;
        right: 8px;
        top: 50%;
        transform: translateY(-50%);
        color: #555;
    }
}

.complete-dimensions-banner{
    margin-left: 42.5vw;
    margin-bottom: 20px;
    display: flex;
    align-items: center;
    gap: 0.5vw;

    img{
        width: 30px;
        height: 30px;
    }
}

.zipcode_number{
    display: flex;
    gap: 1vw;
}
  
body {
    margin: 0;
    padding: 0;
}